@model List<ApplicationCore.Models.EmpInfoResponseModel>
@{
    ViewData["Title"] = "Employee Page";
}

<div class="container-fluid">
    <h1>Employees Information</h1>
    <a class="btn btn-success mt-2 mb-2" asp-controller="Employees" asp-action="AddEmployee">Create Employee</a>
    <div class="table-responsive">
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Designation</th>

                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var emp in Model)
                    {
                        <tr>
                            <th scope="row"><a asp-controller="Interactions" asp-action="InteractionWithEmployee" asp-route-id="@emp.Id">@emp.Name</a></th>
                            <td>@emp.Designation</td>

                            <td><a class="btn btn-primary" asp-controller="Employees" asp-action="UpdateEmployee" asp-route-id="@emp.Id">Modify</a></td>
                            <td><a class="btn btn-danger" asp-controller="Employees" asp-action="DeleteEmployee" asp-route-id="@emp.Id">Delete</a></td>
                        </tr>

                    }


                </tbody>
            </table>
        </div>
    </div>

</div>